/*rtlmellatweb*/

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/eot/iranyekanwebbold.eot');
	src: url('fonts/eot/iranyekanwebboldd41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/iranyekanwebbold.html') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/eot/iranyekanweblight.eot');
	src: url('fonts/eot/iranyekanweblightd41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/iranyekanweblight.html') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/iranyekanwebregular.eot');
	src: url('fonts/eot/iranyekanwebregulard41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/iranyekanwebregular.html') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebregular.ttf') format('truetype');
}

/* Latin fonts (Roboto) */

@font-face {
	font-family: roboto;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/eot/robotobold.eot');
	src: url('fonts/eot/robotoboldd41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/robotobold.html') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/robotobold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/robotobold.ttf') format('truetype');
}

@font-face {
	font-family: roboto;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/eot/robotolight.eot');
	src: url('fonts/eot/robotolightd41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/robotolight.html') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/robotolight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/robotolight.ttf') format('truetype');
}

@font-face {
	font-family: roboto;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/robotoregular.eot');
	src: url('fonts/eot/robotoregulard41d.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/robotoregular.html') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/robotoregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/robotoregular.ttf') format('truetype');
}
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/eot/iranyekanwebbold(fanum.html).eot');
	src: url('fonts/eot/iranyekanwebbold(fanum.html).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/iranyekanwebbold(fanum.html).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/iranyekanwebbold(fanum.html).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebbold(fanum.html).ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/eot/iranyekanweblight(fanum.html).eot');
	src: url('fonts/eot/iranyekanweblight(fanum.html).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/iranyekanweblight(fanum.html).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/iranyekanweblight(fanum.html).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanweblight(fanum.html).ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/iranyekanwebregular(fanum.html).eot');
	src: url('fonts/eot/iranyekanwebregular(fanum.html).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/iranyekanwebregular(fanum.html).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/iranyekanwebregular(fanum.html).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/iranyekanwebregular(fanum.html).ttf') format('truetype');
}

/**IranYekan>>*/  a,body,h1,h2,h3,h4,h5,h6,p,.button, button,.ribbon-2 span,.offer-price,.login-signup-form .form-group label, input, textarea,.badge,.font-weight-bolder,.single-counter span  {font-family:iranyekan! important;}

.ribbon-2 span {
    padding: 0 40px 0 0px;
}
.custom-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    transform: rotate(180deg);
}
.breadcrumb-item+.breadcrumb-item::before {
    padding-right: .5rem;
    padding-left: 0;
}
.list-inline-item:not(:last-child) {
    margin-right: .5rem;
    margin-left: 0;
}
.widget-recent-entries-custom .wi {
    float: right;
}
.widget-recent-entries-custom .wb {
    padding-right: 16px;
    padding-left: 0;
}
.comment-author, .comment-author-shop {
    float: right;
}
.comment-body, .comment-body-shop {
    margin: 0 85px 0 0px;
}
.children > .comment, .children > .comment-shop {
    margin-right: 85px;
    margin-left: 0;
}
.main-menu ul {
    text-align: right;
}
@media (min-width: 320px) and (max-width: 992px){
.main-menu ul>li .submenu {
    right: 0;
    left: auto;
}
.main-menu ul>li .submenu:before, .main-menu ul>li .submenu:after {
    right: 15px;
    left: auto;
}}